<h1>Trails#index</h1>
<p>Find me in app/views/trails/index.html.erb</p>

<button class="spectrum-Button spectrum-Button--cta spectrum-Button--sizeM">
  <span class="spectrum-Button-label">Test Button</span>
</button>